<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="margin-top:0;margin-bottom:0"><!-- wp:columns {"align":"wide","style":{"spacing":{"margin":{"bottom":"0px"},"blockGap":{"top":"0","left":"0"}}}} -->
<div class="wp-block-columns alignwide" style="margin-bottom:0px"><!-- wp:column {"width":"256px","style":{"border":{"right":{"color":"var:preset|color|30","width":"1px"},"top":[],"bottom":[],"left":[]}},"className":"site-sidebar-col"} -->
<div class="wp-block-column site-sidebar-col" style="border-right-color:var(--wp--preset--color--30);border-right-width:1px;flex-basis:256px"><!-- wp:group {"style":{"position":{"type":"sticky","top":"0px"}},"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:template-part {"slug":"sidebar","tagName":"aside","className":"site-sidebar"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"","style":{"spacing":{"blockGap":"0"}}} -->
<div class="wp-block-column"><!-- wp:template-part {"slug":"header-desktop"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|body-margin","bottom":"var:preset|spacing|80"},"blockGap":"var:preset|spacing|70"}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--body-margin);padding-bottom:var(--wp--preset--spacing--80)"><!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|80","padding":{"right":"var:preset|spacing|body-margin","left":"var:preset|spacing|body-margin"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="padding-right:var(--wp--preset--spacing--body-margin);padding-left:var(--wp--preset--spacing--body-margin)"><!-- wp:group {"style":{"spacing":{"blockGap":"0.75em"}},"layout":{"type":"flex","flexWrap":"wrap","justifyContent":"space-between"}} -->
<div class="wp-block-group"><!-- wp:post-date {"format":"M j, Y","style":{"spacing":{"padding":{"top":"0.44em","bottom":"0.44em","left":"1em","right":"1em"}}},"backgroundColor":"30","textColor":"primary","className":"is-style-pill-shape"} /-->

<!-- wp:post-terms {"term":"category","className":"is-style-pill-shape-with-border"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|body-margin"}},"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:post-title {"textAlign":"left","level":1} /-->

<!-- wp:post-featured-image {"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|70"}}}} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:post-content {"layout":{"inherit":true,"justifyContent":"left"}} /--></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"comments","className":"comments"} /-->

<!-- wp:group {"style":{"typography":{"lineHeight":"1","letterSpacing":"-0.01em"},"spacing":{"blockGap":"0"}},"className":"hide-empty","layout":{"type":"default"},"fontSize":"heading-2","fontFamily":"heading"} -->
<div class="wp-block-group hide-empty has-heading-font-family has-heading-2-font-size" style="letter-spacing:-0.01em;line-height:1"><!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|body-margin","bottom":"var:preset|spacing|90","left":"var:preset|spacing|body-margin","right":"var:preset|spacing|body-margin"}},"border":{"top":{"color":"var:preset|color|30","width":"1px"}}},"className":"hide-empty","layout":{"type":"default"}} -->
<div class="wp-block-group hide-empty" style="border-top-color:var(--wp--preset--color--30);border-top-width:1px;padding-top:var(--wp--preset--spacing--body-margin);padding-right:var(--wp--preset--spacing--body-margin);padding-bottom:var(--wp--preset--spacing--90);padding-left:var(--wp--preset--spacing--body-margin)"><!-- wp:post-navigation-link {"type":"previous","showTitle":true,"linkLabel":true} /--></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|body-margin","bottom":"var:preset|spacing|90","left":"var:preset|spacing|body-margin","right":"var:preset|spacing|body-margin"}},"border":{"top":{"color":"var:preset|color|30","width":"1px"}}},"className":"hide-empty","layout":{"type":"default"}} -->
<div class="wp-block-group hide-empty" style="border-top-color:var(--wp--preset--color--30);border-top-width:1px;padding-top:var(--wp--preset--spacing--body-margin);padding-right:var(--wp--preset--spacing--body-margin);padding-bottom:var(--wp--preset--spacing--90);padding-left:var(--wp--preset--spacing--body-margin)"><!-- wp:post-navigation-link {"textAlign":"right","showTitle":true,"linkLabel":true} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->